.rake_test_cache

# `knife.rb` should be a symbolic link of `knife_chef_server.rb` or
# `knife_chef_solor.rb`.
.chef/knife.rb

###
# Ignore Chef key files and secrets
###
.chef/local-mode-cache
.chef/syntaxcache
.chef/*.pem
.chef/trusted_certs
.chef/encrypted_data_bag_secret
**/.kitchen
cookbooks/**

data_bags/users/*.json

.chef/solo.pem
.chef/solo.pem.pub

